*{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    overflow-x: hidden;
    font-weight: 400;
}

section{
    display: flex;
}

section .leftAside{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color:#bdc3c7;
    padding: 50px;
    height: 100vh;
}

section .rightAside{
    flex: 1;
    background-color: #ecf0f1;
    padding: 50px;
    height: 100vh;
}

.name{
    height: 7vh;
    padding-bottom:0;
    margin-bottom: 1vh;
}
.message{
    height: 20vh;
    margin-bottom: 1vh;
}

button{
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(7, 197, 70);
    font-weight: 500;
    font-size: larger;
    color: rgb(253, 253, 252);
    height: 3em;
}

.name, .message, button{
    box-shadow:0 0 10px 2px rgba(92, 91, 91, 0.103);
    border:solid 1px rgba(31, 30, 30, 0);
    border-radius: 5px;
}